body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #F7E4D4;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  margin: 0;
  text-align: center;
  color: #467745 ;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  font-size: 48px;
}

.input-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.row {
  margin-bottom: 25px;
}

.row-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subject {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: medium;
  color: #467745 ;
  max-width: 480px;
  max-height: 64px;
  border: 0;
  
}

.subject::placeholder {
  color: #46774560;
}

.notes {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: medium;
  color: #467745;
  max-width: 480px;
  max-height: 120px; 
  border: 0;
}

.notes::placeholder {
  color: #46774560;
}

.checkbox {
  width: 15px;
  height: 15px;
  background-color: white;
  appearance: none;
  transform: translateY(3px);
}

.checkbox:checked {
  border: 3px solid white;
  background-color: grey;
}

.checkbox-text {
  font-size: 16px;
  font-weight: medium;
  color: #467745;
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'EB Garamond', serif;
  font-size: 21px;
  font-weight: normal;
  color: #F7E4D4;
  border: 0;
  border-radius: 10rem;
  background-color: #467745;
  padding: 30px 65px;
  max-width: 280px;
  max-height: 80px;
  letter-spacing: 0.2em;
}

@media (max-width: 520px) {
  .title {
    font-size: 36px;
    text-align: left;
    padding-left: 20px;
  }

  .checkbox-text {
    word-wrap: break-word;
  }
}